.menu {
    text-align: left;
}

#logo {
    margin-left: 50px;
    width: 100%;
    color: black;
    font-size: large;
}

#backBtn {
    text-align: left;
    margin: 5%;
}

#backBtn a {
    text-decoration: none;
    padding: 1vw;
    border-left: solid 3px red;
    border-right: solid 3px blue;
    border-radius: 5px 20px 5px 20px;
    background-color: green;
    color: white;
}

#backBtn a:hover {
    color: aqua;
    background-color: #333;
    border-radius: 20px 5px 20px 5px;
    border-top: solid 3px red;
    border-bottom: solid 3px blue;
    border-left: none;
    border-right: none;
}

.game {
    margin-top: 101px;
    /*background-image: url(../assets/images/jungleman.png);*/
    height: 1000px;
}

.jungleman {
    width: 1280px;
    height: 480px;
    border: 1px solid black;
    /*background: url(../assets/images/jungleman/back.png);*/
    border-top: none;
    margin: 0 auto;
}

#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}

.controls {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

#container {
    position: absolute;
    z-index: 10;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

#slider {
    width: 100%;
}

p {}

.controls,
select,
option {
    font-size: 25px;
}